.main_style {
    background-color: #D4D4D4;
    color: #303030;
}

.main__part {
    margin: auto;
    width: 70%;
}

.header__link {
    padding: 2mm;
    display: inline-block;
}

.header__link_style {
    background-color: #B0B0B0;
    font-size: 110%;
}

.header__link_style:hover {
    background-color: #82C7C5;
}

.posts__item {
    display: block;
}
