/**********/
/* sizing */
/**********/

html {
    height: 100vh;
}

body {
    min-height: 100vh ;
}

body {
    color: #303030;
    background-color: #F0F0F0;
}

@media screen and (min-width: 768px) {
    .sizer__elem {
        width: 70%;
        border-style: solid;
        border-width: 3px;
        border-color: green;
    }
}

.sizer__elem {
    margin: auto;
    background-color: #D4D4D4;
    min-height: 100vh ;
}

code {
    display: inline-block;
    white-space: pre-wrap;
    background-color: #E6E6E6;
    border: dotted green 2px;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
}

h1 {
    margin-bottom: 0;
    border-bottom: 1px solid black;
}

h1, h2 {
    color: green;
}

/***********/
/* content */
/***********/

.content__elem {
    margin-top: 7mm;
    margin-left: 5mm;
    margin-right: 5mm;
}

.content__elem_title {
    color: green;
}

/**********/
/* header */
/**********/

.header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.header__button {
    display: inline-flex;
    min-height: 1.5em;
    margin-right: 2mm;
}


/**********/
/* button */
/**********/

.button {
    background-color: #C7C7C7;
    box-shadow: -3px 3px #ABABAB, -2px 2px #ABABAB, -1px 1px #ABABAB;
    border-top: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
}

.button:link {
    text-decoration: none;
}

.button:visited {
    text-decoration: none;
}

.button__text {
    margin-left: 2mm;
    margin-right: 2mm;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
}


/********/
/* toc  */
/********/


.toc a:link, .toc a:visited {
    text-decoration: none;
}

.toc li {
    list-style-type: none;
    line-height: 1.1em;
}

.toc {
    background-color: #E6E6E6;
    border: dotted green 2px;
    padding: 0.7em;
}

.toc > ul{
    margin: 0px;
    padding: 0px;
}

.post__toc {
    display: inline-block;
}
