body {
    font-family: DejaVu Sans, sans-serif;
    font-weight: 400;
    font-size: 12pt;
    font-style: normal;
}

code {
    font-family: Hack;
    font-size: 12pt;
}

h1 {
    font-size: 18pt;
    /* text-decoration: underline; */
    border-bottom: 1px solid black;
}

h2 {
    font-size: 18pt;
}

h3 {
    font-size: 16pt;
}

.button {
    font-size: 20pt;
    font-family: Hack;
}
