<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>$title$</title>
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="stylesheet" href="/css/fonts.css"/>
        <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css'>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dejavu-sans@1.0.0/css/dejavu-sans.min.css">
    </head>
    <body class="sizer">
      <div class="sizer__elem content">
        <div class="content__elem header">
          <a class="header__button button" href="/index.html">
            <div class="button__text">Posts</div>
          </a>
          <a class="header__button button" href="/about.html">
            <div class="button__text">About</div>
          </a>
        </div>
        <div class="content__elem content__elem_title">
          <h1>$title$</h1>
        </div>
        <div class="content__elem">
          $body$
        </div>
      </div>
    </body>
</html>
