<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>$title$</title>
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="stylesheet" href="/css/fonts.css"/>
        <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css'>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dejavu-sans@1.0.0/css/dejavu-sans.min.css">
    </head>
    <body class="sizer">
      <div class="sizer__elem content">
        <div class="content__elem content__elem_right language-changer">
          <a href="/en.html">EN</a>&nbsp|&nbsp<a href="/ru.html">RU</a>
        </div>
        $body$
      </div>
    </body>
</html>
